* {
  font-family: 'Roboto', sans-serif !important;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
    font-family: 'Merriweather', serif;
    background-color: #fff;
    color: #000;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;

}

/*Navigation bar*/
.navbar {
    background-color: white;
    padding: 13px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1750px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 0 6vw;
}

.logo {
    height: 45px;
    flex-shrink: 0;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: flex-end;
    min-width: 0;
    gap: 30px;
    width: 40%;
    position: relative;
    left: 0;
    transform: none;
}

.nav-links a {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.90em;
    padding: 5px 0;
    transition: color 0.3s ease;
    font-family: sans-serif;
    color: #222;
}

.nav-links a.active {
    color: rgb(30, 100, 200);
}

.nav-links a:hover {
    color: rgb(200, 100, 200);
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
}

@media (max-width: 1024px) {
    html, body {
        overflow-x: hidden;
        width: 100%;
    }

    *, *::before, *::after {
        box-sizing: border-box;
    }

}

@media (max-width: 1024px) {
    .menu-toggle {
        display: block;
        margin-left: auto;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 180px;
        right: 0;
        left: auto;
        text-align: center;
        align-items: center;
        background-color: white;
        position: absolute;
        top: 60px;
        padding: 10px 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links a {
        padding: 10px 0;
        font-size: 16px;
    }

    .navbar-inner {
        flex-wrap: nowrap;
    }
}


/*Main content*/
main {
    padding: 40px;
    font-family: sans-serif;
}

.content-wrapper {
    flex: 1;
}


/*Footer*/
.footer {
    text-align: center;
    padding: 1px;
    font-weight: 600;
    background-color: white;
    font-size: 14px;
    font-family: sans-serif;
    color: #222;
    flex-shrink: 0;
}


/* News Section */
.news-section {
    background-color: #ffffff;
    padding: 20px 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.news-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.news-card {
    background-color: white;
    border-radius: 16px;
    border: rgb(30, 100, 200);
    box-shadow: 0 2px 8px rgba(30, 100, 200, 0.5);
    padding: 10px;
    width: 230px;
    text-align: left;
    max-width: 100%;
}

.news-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 12px;
    margin-bottom: 10px;
}

.news-card a h3 {
    min-height: 3.8em;
    margin: 10px 0 5px 0;
    font-size: 15px;
    text-align: center;
}

.news-card .news-date {
    font-size: 14px;
    color: #222;
    text-align: center;
    margin: 10px 0 7px;
}

.news-item h3,
.news-item p.date {
    text-align: center;
    margin: 10px 0 5px;
}

.news-card a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.news-item h3 {
    margin-bottom: 500px;
}

.news-card:hover {
    box-shadow: 0 2px 16px rgba(0, 200, 0, 0.5);
}

@media (min-width: 1350px) {
    .news-card {
        background-color: white;
        border-radius: 16px;
        border: rgb(30, 100, 200);
        box-shadow: 0 2px 8px rgba(30, 100, 200, 0.5);
        padding: 10px;
        width: 15%;
        text-align: left;
        max-width: 100%;
    }

    .news-card a h3 {
        min-height: 5em;
        margin: 10px 0 5px 0;
        font-size: 15px;
        text-align: center;
    }
}