{% extends "base.html" %}

{% block content %}


<style>

  .welcome-wrapper {
    #max-width: 1250px;
    margin: 0 auto;
    padding: 30px 10px;
    text-align: center;
    max-width: 65%;
  }

  .welcome-title {
    color: rgb(49, 49, 49);
    #font-size: 47px;
    font-weight: 400;
    margin-top: -30px;
    margin-bottom: 10px;
    margin-left: -220px;
    font-family: 'lato', sans-serif;
    font-size: clamp(38px, 1.8vw, 47px);
  }

  .welcome-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    gap: 60px;
    flex-wrap: nowrap;
    margin-left: -0px;
    margin-bottom: -25px;
  }

  .group-photo {
    width: 450px;
    height: auto;
    margin-bottom: 25px;
    margin-top: 20px;
  }

  .icon {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    margin-bottom: 25px;
  }

  .welcome-text {
    flex: 0 0 60%;
    font-size: 19px;
    font-family: 'lato', sans-serif;
    color: rgba(0, 0, 0, 0.80);
    line-height: 1.5;
  }

  .welcome-text p {
    margin: 0 0 20px 0;
    text-align: justify;
    font-size: clamp(15px, 1.8vw, 19px);
    text-justify: inter-word;
  }

  .welcome-text a {
    text-decoration: none;
    color: rgb(30, 100, 200);
  }

  .lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
  }

  .lightbox:target {
    display: flex;
  }

  .lightbox img {
    max-width: 90%;
    max-height: 90%;
    border: 4px solid white;
    box-shadow: 0 0 10px black;
  }

  .lightbox .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    text-decoration: none;
  }
  @media (max-width: 1250px) {
    .group-photo {
      width: 380px;
      height: auto;
      margin-bottom: 25px;
      margin-top: 20px;
    }

    .icon {
      width: 180px;
      height: 150px;
      flex-shrink: 0;
      margin-bottom: 25px;
    }

    .welcome-title {
      margin-left: -190px;
    }
  }

  @media (max-width: 1024px) {
    .welcome-wrapper {
      padding: 20px 10px;
      max-width: 100%;
    }

    .welcome-title {
      font-size: 32px;
      margin-left: 0;
      margin-top: 0;
      text-align: center;
    }

    .welcome-content {
      flex-direction: column;
      gap: 25px;
      margin-left: 0;
      text-align: center;
    }

    .welcome-text {
      flex: 1 1 100%;
      font-size: 16px;
      padding: 0 10px;
    }

    .group-photo {
      margin-top: -10px;
      width: 80%;
      max-width: 100%;
      height: auto;
    }


    .icon {
      width: 80%;
      padding-top: 40px;
      max-width: 180px;
      height: auto;
    }
  }

</style>


<div class="welcome-wrapper">
  <div class="welcome-title">UGent Biovism Lab</div>
  <div class="welcome-content">
    <img src="{{ url_for('static', filename='logo.svg') }}" alt="Lab Icon" class="icon">
    <div class="welcome-text">
      <p>
        The <b>Biovism</b> lab focuses on the automated extraction of information from visual and multi-modal sensors
        and its embedding in computational models, with applications in the life sciences. Biovism is part of the
        research unit on <a target="_blank" href="https://kermit.ugent.be/">Knowledge-based Systems
        </a> of the <a target="_blank" href="https://www.ugent.be/bw/en">Faculty of Bioscience Engineering</a> at
        <a target="_blank" href="https://www.ugent.be/en">Ghent University</a>.
      </p>
      <p>
        Researchers at the lab develop new methodologies in the fields of computer vision, multi-modal data analysis
        and applied mathematics that allow to extract and fuse information from heterogeneous and unstructured data
        sources. Their main motivation is to improve the performance of computational models in the animal,
        pharmaceutical and environmental sciences.
      </p>
    </div>
    <a href="#popup-group" class="popup-trigger">
      <img src="{{ url_for('static', filename='groupPhoto.jpg') }}" alt="Biovism Group Photo" class="group-photo">
    </a>
    <div id="popup-group" class="lightbox">
      <a href="#" class="close">&times;</a>
      <img src="{{ url_for('static', filename='groupPhoto.jpg') }}" alt="Group Photo Large">
    </div>
  </div>
</div>

<section class="news-section">
  <div class="news-grid">
    {% for item in news %}
    <div class="news-card">
      <a href="{{ url_for('show_news', slug=item.slug) }}">
        <img src="{{ url_for('static', filename='news/' ~ item.newsImagePath) }}" alt="News Image">
        <h3>{{ item.title }}</h3>
        <p class="news-date">{{ item.date.strftime("%B %d, %Y") }}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</section>


{% endblock %}
