{% extends "base.html" %}

{% block content %}


<style>

    .news-wrapper {
        max-width: 850px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .news-title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
    }

    .news-date {
        text-align: center;
        font-size: 18px;
        color: #666;
        margin-bottom: 30px;
    }

    .news-image {
        text-align: center;
        margin-bottom: 30px;
    }

    .news-image img {
        max-width: 80%;
        height: auto;
        border-radius: 16px;
    }

    .news-description {
        font-size: 18px;
        text-align: justify;
        line-height: 1.6;
        font-family: sans-serif;
    }

</style>


<div class="news-wrapper">
    <h1 class="news-title">{{ item.title }}</h1>
    <p class="news-date">{{ item.date.strftime('%B %d, %Y') }}</p>
    <div class="news-image">
        <img src="{{ url_for('static', filename='news/' ~ item.newsImagePath) }}" alt="News Image">
    </div>
    <div class="news-description">
        {{ item.description | safe }}
    </div>
</div>


{% endblock %}