{% extends "base.html" %}

{% block content %}


<style>

.publication-section {
    background-color: #ffffff;
    padding: 0 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 1280px;
    margin: 0 auto;
}

.publication-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 0 auto;
}

.publication-card {
    background-color: rgba(255, 255, 255 ,0.3);
    border-radius: 16px;
    border: rgb(30, 100, 200);
    box-shadow: 0 2px 8px rgba(30, 100, 200 ,0.5);
    padding: 10px;
    width: 300px;
    text-align: left;
    max-width: 100%;
}

.publication-card:hover {
    box-shadow: 0 2px 8px rgba(0, 200, 0, 0.5);
    background-color: rgba(0, 200, 0 ,0.2);
}

.publication-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 12px;
    margin-bottom: 10px;
}

.publication-card a h3 {
    min-height: 7em;
    margin: 10px 0 5px 0;
    font-size: 18px;
    text-align: center;
}

.publication-card .publication-date {
    font-size: 14px;
    color: #777;
    text-align: center;
    margin: 10px 0 5px;
}

.publication-card a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.publication-section-title {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-top: 40px;
    color: rgb(30, 100, 200);
}

@media (max-width: 1024px) {
  .publication-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
    overflow-x: hidden;
  }

  .publication-section{
    gap: 0;
    flex-wrap: wrap;
  }
  .publication-card {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .publication-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 12px;
    margin-bottom: 20px;
  }

  .publication-card a h3 {
      min-height: 5em;
      margin: 10px 0 5px 0;
      font-size: 18px;
      text-align: center;
  }

  .publication-card {
    flex: 1 1 80%;
    max-width: 90vw;
    box-sizing: border-box;
  }

  .publication-card img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

</style>


<div class="publication-section">
  {% for year, pubs in grouped.items() %}
    <h2 class="publication-section-title">{{ year }}</h2>
    <div class="publication-grid">
      {% for pub in pubs %}
      <div class="publication-card">
        <a href="{{ url_for('showPublication', slug=pub.slug) }}">
          <img src="{{ url_for('static', filename='publication/' + pub.image) }}" alt="Image">
          <h3>{{ pub.title }}</h3>
          <p class="publication-date">{{ pub.authors }}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  {% endfor %}

  <p style="text-align:center; margin-top: 20px; font-family: sans-serif; font-size: 18px">
    <b>For extensive list of publications</b>: please visit
    <a href="https://lib.ugent.be/catalog?q=%27Jan%20Verwaeren%27&search_field=author&ac=mem10:000009031:author" target="_blank">Ghent University Library</a>
    and
    <a href="https://scholar.google.com/citations?user=tK68zYoAAAAJ&hl=en" target="_blank">Google Scholar</a>
  </p>
</div>


{% endblock %}