{% extends "base.html" %}

{% block content %}


<style>

.research-section {
    background-color: #ffffff;
    padding: 0 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 1280px;
    margin: 0 auto;
}

.research-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 0 auto;
}

.research-card {
    background-color: rgba(255, 255, 255 ,0.3);
    border-radius: 16px;
    border: rgb(30, 100, 200);
    box-shadow: 0 2px 8px rgba(30, 100, 200 ,0.5);
    padding: 10px;
    width: 300px;
    text-align: left;
    max-width: 100%;
}

.research-card:hover {
    box-shadow: 0 2px 8px rgba(0, 200, 0, 0.5);
    background-color: rgba(0, 200, 0 ,0.2);
}

.research-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 12px;
    margin-bottom: 10px;
}

.research-card a h3 {
    min-height: 3.8em;
    margin: 10px 0 5px 0;
    font-size: 18px;
    text-align: center;
}

.research-card .research-date {
    font-size: 14px;
    color: #777;
    text-align: center;
    margin: 10px 0 5px;
}

.research-card a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.research-section-title {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-top: 40px;
    color: rgb(30, 100, 200);
}

@media (max-width: 1024px) {
    .research-grid {
        margin-left: 0;
        padding: 20px 3px;
        justify-content: center;
        overflow-x: hidden;
    }

    .research-card {
        flex: 1 1 100%;
        max-width: 90vw;
        box-sizing: border-box;
    }

    .research-card img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

</style>


<div class="research-section">

  <h2 class="research-section-title">Computer Vision for Animal Sciences</h2>
  <div class="research-grid">
    {% for item in research if item.category == 'animal' %}
    <div class="research-card">
      <a href="{{ url_for('showResearch', slug=item.slug) }}">
        <img src="{{ url_for('static', filename='icons/' ~ item.image) }}" alt="{{ item.title }}">
        <h3>{{ item.shortTitle }}</h3>
      </a>
    </div>
    {% endfor %}
  </div>

  <h2 class="research-section-title">Hybrid Modelling for Biological Sciences</h2>
  <div class="research-grid">
    {% for item in research if item.category == 'hybrid' %}
    <div class="research-card">
      <a href="{{ url_for('showResearch', slug=item.slug) }}">
        <img src="{{ url_for('static', filename='icons/' ~ item.image) }}" alt="{{ item.title }}">
        <h3>{{ item.shortTitle }}</h3>
      </a>
    </div>
    {% endfor %}
  </div>

  <h2 class="research-section-title">Multi-modal Data Analysis for Environmental Sciences</h2>
  <div class="research-grid">
    {% for item in research if item.category == 'multi' %}
    <div class="research-card">
      <a href="{{ url_for('showResearch', slug=item.slug) }}">
        <img src="{{ url_for('static', filename='icons/' ~ item.image) }}" alt="{{ item.title }}">
        <h3>{{ item.shortTitle }}</h3>
      </a>
    </div>
    {% endfor %}
  </div>

</div>


{% endblock %}
